* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202125;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-container h2 {
    margin: 0;
}

.hero {
    height: 60vh;
    text-align: center;
    padding: 100px 0;
    /* background-color: #e50914; */
    background-image: url(images/displ.jpg);
    background-position: 60%;
    background-size: cover;
    /* background: rgba(0, 0, 0, 0.5); */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.hero button {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.hero button:hover {
    background-color: white;
    color: black;
    border-radius: 20px 0 10px 2px;
}

.diff {
    min-height: 40vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

section .search-box {
    margin-top: 10vh;
    border-color: white;
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #323334;
    padding: 0 15px 0 45px;
    color: #fff;
    border-radius: 8px;
}

.search-box i {
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}

.movie-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    max-height: 400px;
    overflow-y: auto;
    margin: -15px auto;
}

.movie-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

.movie-item img {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.2s linear;
}

#lucii:hover {
    transform: scale(1.01);
}

.movie-item a #lucii {
    width: 150vw;
    height: 90%;
    border-radius: 10px 5px 15px 0px;
}

.hi {
    display: none;
}

.footer {
    margin-top: 30px;
    border-radius: 160px 0 160px 0;
    background: linear-gradient(145deg, #5c5a5a, #1e2227);
    ;
    padding: 20px 0;
}

.ff li:hover {
    color: rgba(255, 42, 0, 0.9);
    cursor: pointer;
}

.footer h3 {
    color: white;
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
    color: white;
}

.footer a img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

hr {
    border-top: 1px solid white;
}

#copyright {
    text-align: center;
    margin-top: 20px;
    color: #6c757d;
}

#living-room-1 {
    height: 70vh;
    border-radius: 10%;
    position: relative;
    z-index: 1;
    top: -20%;
    left: 25%;
}

#cyan-dots {
    position: relative;
    z-index: 1;
    top: 30%;
}

#living-room-2 {
    height: 30vh;
    width: 25vw;
    border-radius: 10%;
    position: relative;
    z-index: 1;
    top: -3%;
    left: -25%;
}

#table {
    height: 40vh;
    border-radius: 10%;
    position: relative;
    z-index: 2;
    top: -20%;
    left: 40%;
}

#living-room-3 {
    height: 30vh;
    width: 25vw;
    border-radius: 10%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 80%;
}

#cyan-dots,
#living-room-2,
#table,
#living-room-3 {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

#cyan-dots:hover,
#living-room-2:hover,
#table:hover,
#living-room-3:hover {
    transform: translateY(-5px) scale(1.05) rotate(5deg);
}

.abt .container-fluid ul {
    display: flex;
    margin-left: 40%;
}

.abt .container-fluid ul li {
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    font-size: 30px;
    line-height: 60px;
    color: #666;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 15px;
    background-color: #171515;
}

.abt .titl::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 0.175rem;
    top: 322%;
    left: 40%;
    bottom: 590%;
    background-color: #0A82ED;
}

.abt .titl::after {
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
}

.abt .titl:hover::after {
    transform: scale(1, 1);
}

.abt .container-fluid ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0A82ED;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}

.abt .container-fluid ul li.ch-1:hover:before {
    filter: blur(4px);
    box-shadow: 0 0 15px #0A82ED;
    transform: scale(1.2);
}

.abt .container-fluid ul li.ch-2:before {
    background-color: #e23760;
}

.abt .container-fluid ul li.ch-2:hover:before {
    filter: blur(4px);
    box-shadow: 0 0 15px #e23760;
    transform: scale(1.2);
}

.abt .container-fluid ul li.ch-3:before {
    background-color: #0A82ED;
}

.abt .container-fluid ul li.ch-3:hover:before {
    filter: blur(4px);
    box-shadow: 0 0 15px #0A82ED;
    transform: scale(1.2);
}

.abt .container-fluid ul li.ch-4:before {
    background-color: #04a2ffb3;
}

.abt .container-fluid ul li.ch-4:hover:before {
    filter: blur(4px);
    box-shadow: 0 0 15px #04a2ffb3;
    transform: scale(1.2);
}

.zzz {
    position: fixed;
}